body {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	/* color: #ff9900; // color ne fonctionne pas, il faut utiliser background-color
	background-color: #ff9900; // brique pisseuse abandonné au profit d'un dégradé*/
	background: linear-gradient(-49deg, rgb(243, 217, 163), rgb(183, 196, 10)); // dégradé
	background-image: url("C_F_painting.png"); // Code pour ajouter une image qui ne se répète pas en bas à droite
	background-repeat: no-repeat;
  background-position: bottom right;
	background-size: cover;
}

footer {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
}

h1 {
	font: Linux Libertine;
	font-size: 18 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

h2{
	font: Linux Libertine;
	font-size: 14 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

p{
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

em {

}
em.Bien{
	color:green;
}

em.Mal{
	color: red;
}

q{
	font: Garamond;
	font-size: 12 px;
	font-style: italic;
	color: #4b0082; // indigo
	line-height: 8pt;
}

peon {
	color: #4b0082;
	border : 2px solid blue;
}

oldPeon {
	border : 2px solid red;
}

blockquote {
	font: Linux Libertine;
	font-size: 160%;
	color: #4b0082; // indigo
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #c2d6d6 ; // gris léger
	padding-left: 30px;
	/*border-left: 3px solid #C64A0C; // brique ne fonctionne pas
	padding-left: 30px;
	margin-top: 80px;
	margin-bottom: 80px;*/
}

caption {
	font: Linux Libertine;
	font-size: 10 px;
	color: #4b0082; // indigo
}

figure{
	text-align: center;
}

img {
	size: 100%;
}

figcaption {
	font: Linux Libertine;
	font-size: 10 px;
	color: #4b0082; // indigo
}

table{

}

th {
	font: Linux Libertine;
	font-size: 13 px;
	color: #4b0082; // indigo
	border: 1px solid #4b0082; // cadre indigo
}

tr{

}

td {
	font: Linux Libertine;
	font-size: 11 px;
	color: #4b0082; // indigo
	border: 1px solid #4b0082; // cadre indigo
}

ul{

}

li {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

li:nth-of-type(1) {
	background-image: url("bien.png")
}

li:nth-of-type(2) {
	background-image: url("mal.png")
}

li:nth-of-type(3) {
	background-image: url("chat.png")
}

a {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

a:visited {
	color: #008080 ; // teal
	text-decoration: underline;
}

a:hover {
	color: ; //light-grey
}
