h1 {
	font: Linux Libertine;
	font-size: 18 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

h2{
	font: Linux Libertine;
	font-size: 14 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

p{
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}


q{
	font: Garamond;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

blockquote {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

figure{

}

img {

}

caption {
	font: Linux Libertine;
	font-size: 10 px;
	color: #4b0082; // indigo
}

figcaption {
	font: Linux Libertine;
	font-size: 10 px;
	color: #4b0082; // indigo
}

table{

}

th {
	font: Linux Libertine;
	font-size: 13 px;
	color: #4b0082; // indigo
}

tr{

}

td {
	font: Linux Libertine;
	font-size: 11 px;
	color: #4b0082; // indigo
}

ul{

}

li {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

a {
	font: Linux Libertine;
	font-size: 12 px;
	color: #4b0082; // indigo
	line-height: 8pt;
}

a:visited {
	color: #008080 ; // teal
	text-decoration: underline;
}

a:hover {
	color: ; //light-grey
}
